<% content_for :application do %>
	<style type="text/css">
		.moneyios{
			width: 100%;
			background-color: rgba(254,255,178,0.714);
			padding-top: 1em;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: auto;

		}
		#btn_commit{
			width: 50%;
			position: fixed;
			font-size: 20px;
			bottom:0;
		}
		#btn_return{
			width: 50%;
			position: fixed;
			left: 50%;
			font-size: 20px;
			bottom:0;
		}
		#btn_return_full{
			width: 100%;
			position: fixed;
			font-size: 20px;
			bottom:0;
		}
		.panel-left{
			display: inline-block;
			width: 70%;
		}
		.panel-right{
			display: inline-block;
			text-align:center;
			width:25%;
			vertical-align: top;
		}
	</style>
		<% if !@agency.nil? and @moneyio.from_agency_id != 0 %>
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">
				<select  style="width: 100%; height: 35px;"><option><%= @agency.name %></option></select>
			</div>
		    <div class="am-panel-bd" >
		    	<div class="panel-left">
					经销商名：<%= @agency.name %><br/>
					地址：<%= @agency.address %><br/>
					联系电话：<b><%= @agency.phone %></b><br/>
				</div>
		    	<div class="panel-right">
					<%= image_tag @agency.profile, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%;"%>
				</div>

			</div>
		</div>
		<% elsif !@agency.nil? and @moneyio.from_agency_id == 0 %>
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">
				<select  style="width: 100%; height: 35px;" onchange="window.location.href = options[selectedIndex].value">
				<option value="/agency/buycar?agencyid=0&moneyioid=<%= @moneyio.id%>">请选择经销商</option>
					<% if !@agencylist.nil? %>
						<% @agencylist.each do |a| %>
							<% if a.id == @agency.id %>
								<option selected="true" value="/agency/buycar?agencyid=<%= a.id %>&moneyioid=<%= @moneyio.id%>"><%= a.name %></option>
							<% else %>
								<option value="/agency/buycar?agencyid=<%= a.id %>&moneyioid=<%= @moneyio.id%>"><%= a.name %></option>
							<% end %>
						<% end %>
					<% end %>
				</select>
			</div>
			<div class="am-panel-bd" >
				<div class="panel-left">
					经销商名：<%= @agency.name %><br/>
					地址：<%= @agency.address %><br/>
					联系电话：<b><%= @agency.phone %></b><br/>
				</div>
		    	<div class="panel-right">
					<%= image_tag @agency.profile, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%;"%>
				</div>
				
			</div>
		</div>
		<% elsif @agency.nil? and @moneyio.from_agency_id == 0 %>
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">
				<select onchange="window.location.href = options[selectedIndex].value">
				<option value="/agency/buycar?agencyid=0&moneyioid=<%= @moneyio.id%>">请选择经销商</option>
					<% if !@agencylist.nil? %>
						<% @agencylist.each do |a| %>
						<option value="/agency/buycar?agencyid=<%= a.id %>&moneyioid=<%= @moneyio.id%>"><%= a.name %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>
		<% end %>
		<% if !@agency.nil? %>
		<form class="am-form" action="/agency/inputbuycarinfo?agencyid=<%= @agency.id %>" method="post" ENCTYPE="multipart/form-data">
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">车辆信息</div>
			    <div class="am-panel-bd">

						<div class="am-panel am-panel-default">
							<div class="am-panel-hd">选择使用的购车基金</div>
			    			<div class="am-panel-bd">
								<ul style="padding-left:0;">
									<li style="list-style:none;"><input checked name="moneyioid" value="<%= @moneyio.id%>" type="radio"/><%= @moneyio.money%>元[<%= @moneyio.remarks%>]</li>
								</ul>
							</div>
						</div>
						<label for="file">购车发票</label> 
						<%= file_field "invoice","file",  :accept => "image/jepg", :capture => "camera" %>
						<label for="phonenumber">联系电话</label><input type="text" id="phonenumber" name="phonenumber" />
						<label for="idnumber">身份证</label><input type="text" id="idnumber" name="idnumber" />
				</div>
			</div>
			<button class="am-btn am-btn-secondary" id="btn_commit">确认</button>
			<a type="button" href="/user/index" class="am-btn am-btn-secondary" id="btn_return">返回</a>
		</form>
		<% else %>
		<a type="button" href="/user/index" class="am-btn am-btn-secondary" id="btn_return_full">返回</a>
		<% end %>
<% end %>