<% content_for :application do %>
	<style type="text/css">
		.moneyios{
			width: 100%;
			background-color: rgba(254,255,178,0.714);
			padding-top: 1em;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: auto;

		}
		#btn_commit{
			width: 50%;
			position: fixed;
			font-size: 20px;
			bottom:0;
		}
		#btn_return{
			width: 50%;
			position: fixed;
			left: 50%;
			font-size: 20px;
			bottom:0;
		}
	</style>
	<% if @agency.nil? %>
		<script type="text/javascript">
			window.onload=function(){
				alert('经销商无效');
				location.href = '/user/moneyio'
			}
		</script>
	<% else %>
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">经销商介绍</div>
		    <div class="am-panel-bd" >
		    	<div style="text-align:center;">
					<%= image_tag @agency.profile, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%;"%>
				</div>
				经销商名：<%= @agency.name %><br/>
				地址：<%= @agency.address %><br/>
				联系人：<%= @agency.contact %><br/>
				联系电话：<%= @agency.phone %><br/>
			</div>
		</div>
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">车辆信息</div>
		    <div class="am-panel-bd">
				<form class="am-form" action="/agency/inputbuycarinfo?agencyid=<%= @agency.id %>" method="post">
					<div class="am-panel am-panel-default">
						<div class="am-panel-hd">选择使用的购车基金</div>
			    			<div class="am-panel-bd">
								<ul style="padding-left:0;">
									<li style="list-style:none;"><input checked name="moneyioid" value="<%= @moneyio.id%>" type="radio"/><%= @moneyio.money%>元[<%= @moneyio.remarks%>]</li>
								</ul>
							</div>
						</div>
						车辆品牌：<input type="text" name="brand" /><br/>
						车辆型号：<input type="text" name="model" /><br/>
						车辆配置：<input type="text" name="type" /><br/>
						联系电话 ：<input type="text" name="phonenumber" /><br/>
						身份证：<input type="text" name="idnumber" /><br/>
					
					<button class="am-btn am-btn-secondary" id="btn_commit">确认</button>
					<a type="button" href="/user/index" class="am-btn am-btn-secondary" id="btn_return">返回</a>
				</form>
			</div>
		</div>
	<% end %>
<% end %>