<% content_for :application do %>
<style type="text/css">
	#return{
		width: 100%;
		position: fixed;
		font-size: 20px;
		bottom:0;
	}
	ul{padding-left: 0;}
	li{list-style: none;}
	.list{
	  border: 1px solid #eee;
	  border-radius: 5px;
	  line-height: 20px;
	  margin-bottom: 5px;
	  margin-left: 5px;
	  margin-right: 5px;
	  overflow: hidden;
	  padding: 5px;
	}
</style>
<div>
	<h1 style="text-align:center;"><i class="am-icon-truck am-icon-fw"></i>我的购车记录</h1>

	<% if !@buycarrequests.nil? %>
		<% @buycarrequests.each do |req| %>
			<div class="list">
			<ul>
				<li>申请时间:<%=req.create_time.strftime("%Y-%m-%d %H:%M:%S") %></li>
				<li>
					<ul style="margin: 0;">
						<% @moneyio = UserMoneyIO.find_by(id: req.money_io_id)
						if !@moneyio.nil? %>
						<li>购车基金：<%= @moneyio.money %>元</li>
						<% end %>
					</ul>
				</li>
				<li>
					<%  @agency = Agency.find_by(id: req.agency_id) %>
					<% if !@agency.nil?%>
						<p>
						经销商：<%= @agency.name %><br/>
						地址：<%= @agency.address %><br/>
						联系人：<%= @agency.contact %><br/>
						联系电话：<%= @agency.phone %><br/>
						</p>
					<% end %>
				</li>
				<li style="text-align:right;">
					<% if req.status == 0 %>
				  		<font style="color:red">待审核</font>
				  	<% elsif req.status == 1 %>
				  		<font style="color:green">审核通过</font>
				  	<% elsif req.status == 2 %>
				  		<font style="color:red">审核未通过</font>
				  	<% else %>
				  		<font style="color:red">异常</font>
					<% end %>
				</li>
			</ul>
			</div>
		<% end %>
		<a type="button" href="/user/index" class="am-btn am-btn-danger" id="return">返回</a>
	<% end %>
</div>
<% end %>