<% content_for :application do %>
<style type="text/css">
	li a,li a:hover,li a:active{
		color:#333;
		background-color: transparent;
	}
	i{
		color: #3691de;
	}
	.m-widget-list a::after {
  color: #3691de;
  content: "";
  display: inline-block;
  font-family: FontAwesome,sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: -8px;
  position: absolute;
  right: 10px;
  text-rendering: auto;
  top: 50%;
  transform: translate(0px, 0px);
}
.userpanel{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 0 12px -4px black;
  display: inline-block;
  line-height: 20px;
  padding: 5px;
  vertical-align: bottom;
  position: absolute;
  bottom: -85px;
  right: 0;
  width:240px;
}
</style>
	<div class="index_bg" style="margin-bottom:100px;text-align:center;height:300px;line-height:250px;width:100%;position:relative;">
		<div class="userpanel">
			<%= image_tag @user.profile, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%;float:right;"%>
			<span style="display:block;color:red;position: relative; font-weight: bold;max-width:160px;overflow:hidden;margin-top:20px;"  data-am-modal="{target: '#my-alert'}">
			<% if !@carowner.nil? and @carowner.status == 1 %>
				<%= @user.real_name %><span style="vertical-align: 5px; position: absolute; top: 4px; font-weight: 100; font-size: 0.7em;" >车主</span>
			<% else %>
				<%= @user.real_name %>
			<% end %>
			</span>
			<span style="display:block;color:teal;max-width:150px;color:#eee;">
				<% if !@user_code_my.nil? %>
			       优惠代码:<%=@user_code_my.code %>
			    <% else %>
			   		成为正式会员，获取优惠代码。
			    <% end %>
			</span>
		</div>
	</div>
	<div style="width:100%">
		<ul class="am-list am-list-static m-widget-list">
			<% if !@user_code_my.nil? and @user_code_my.from_agency_id == 0 %>
				<li class="bg" style="border-bottom:1px solid #eee;">
					<a href="/agency/newcarowner" style="color:#ccc;">
						<i class="am-icon-star am-icon-fw"></i>
						<span style="margin-right:5px;">车主认证</span>
					</a>
				</li>
			<% end %>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/user/orderlist " style="color:#ccc;">
					<i class="am-icon-shopping-cart am-icon-fw"></i>
					<span style="margin-right:5px;">我的订单</span>
				</a>
			</li>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/user/pointio " style="color:#ccc;">
					<i class="am-icon-trophy am-icon-fw"></i>
					<span style="margin-right:5px;">我的积分:</span><%=@user.user_point %> Point
				</a>
			</li>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/user/moneyio" style="color:#ccc;">
					<i class="am-icon-money am-icon-fw"></i>
					<span style="margin-right:5px;">我的购车基金:</span><%=@user.user_money %>元
				</a>
			</li>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/user/buycarrequest" style="color:#ccc;">
					<i class="am-icon-truck am-icon-fw"></i>
					<span style="margin-right:5px;">我的购车记录
				</a>
			</li>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/mall/index" style="color:#ccc;">
					<i class="am-icon-shopping-cart am-icon-fw"></i>
					<span style="margin-right:5px;">积分商城</span>
				</a>
			</li>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/user/inputcode" style="color:#ccc;">
					<i class="am-icon-barcode am-icon-fw"></i>
					<span style="margin-right:5px;">输入优惠码</span>
				</a>
			</li>
			<li class="bg" style="border-bottom:1px solid #eee;">
				<a href="/user/signout" style="color:#ccc;">
					<i class="am-icon-sign-out am-icon-fw"></i>
					<span style="margin-right:5px;">退出登录</span>
				</a>
			</li>
		</ul>
	</div>
	<% if !@carowner.nil? and @carowner.status == 1 %>
		<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
		  <div class="am-modal-dialog">
		  	<div class="am-modal-hd">
		    <span style="color:red" class="am-icon-star" data-am-modal="{target: '#my-alert'}">认证车主:<%= @user.real_name %></span>
		    </div>
		    <div class="am-modal-hd">
		    车牌：<%= @carowner.car_number %>
		    </div>
		    <div class="am-modal-hd">
		    品牌：<%= @carowner.car_brand %>
		    </div>
		    <div class="am-modal-hd">
		    型号：<%= @carowner.car_model %>
		    </div>
		    <div class="am-modal-hd">
		    配置：<%= @carowner.car_type %>
		    </div>
		    <div class="am-modal-footer">
		      <span class="am-modal-btn">确定</span>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>