<% content_for :application do %>
	<p>welcome <%= current_user_info && current_user_info.login_name %></p>
	<a href="/user/signout">退出登录</a>
	<a href="/user/addpoint/<%= @user.id %>/<%= @user_code_my.code %>?msg=首页测试&return=/user/index">测试我的积分代码</a>
	<a href="/user/addpoint/<%= @user.id %>/wrz0sz?msg=首页测试&return=/user/index">测试积分代码 wrz0sz</a>
	<h1>User Info</h1>
	<p><%= image_tag @user.profile, 'data-turbolinks-track' => true %></p>
	<p>Name : <%= @user.real_name %></p>
	<p>Sex : 
		<% if @user.sex == 1 %>
		男
		<% elsif @user.sex == 0 %>
		女
		<% end%>
	</p>
	<p>My Code : <font style="color:red"><%=@user_code_my.code %></font>(<%= @user_code_my.create_time%> - <%= @user_code_my.expire_time%>)</p>
	<p>Point ： <%=@user.user_point %></p>
	<p>Money ： <%=@user.user_money %> 元</p>
	<p>Create Date : <%=@user.create_time %></p>

	<h1>User Point IO</h1>
	<% if @point_ios%>
		<table border=1>
			 <tr>
				  <td>状态</td>
				  <td>积分</td>
				  <td>备注</td>
				  <td>操作时间</td>
				  <td>获取来源</td>
				  <td>来源代码</td>
			  </tr>
			<% @point_ios.each do |io| %>
			  <tr>
				  <td>
				  	<% if io.status == 1 %>
				  	<p style="color:green">成功</p>
				  	<% elsif io_status == 0 %>
				  	<p style="color:red">失败</p>
				  	<% end %>
				  </td>
				  <td><%= io.point %></td>
				  <td><%= io.remarks %></td>
				  <td><%= io.operate_time %></td>
				  <td><%= io.from %></td>
				  <td><%= io.code %></td>
			  </tr>
			<% end %>
		</table>
	<% end %>

	<h1>User Money IO</h1>
	<% if @money_ios%>
		<table border=1>
			 <tr>
				  <td>状态</td>
				  <td>金额</td>
				  <td>备注</td>
				  <td>操作时间</td>
			  </tr>
			<% @money_ios.each do |m| %>
			  <tr>
				  <td>
				  	<% if m.status == 1 %>
				  	<p style="color:green">成功</p>
				  	<% elsif m_status == 0 %>
				  	<p style="color:red">失败</p>
				  	<% end %>
				  </td>
				  <td><%= m.money %> 元</td>
				  <td><%= m.remarks %></td>
				  <td><%= m.operate_time %></td>
			  </tr>
			<% end %>
		</table>
	<% end %>

<% end %>