<% content_for :application do %>
	<div style="text-align:center;height:200px;line-height:200px;width:100%;background-color:#3bb4f2;">
		<div style="display:inline-block;vertical-align:bottom;margin-bottom:10%;line-height:20px;">
			<%= image_tag @user.profile, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%"%>
			<span style="display:block;padding-top:10px;color:white;"><%= @user.real_name %></span>
			<span style="display:block;padding-top:10px;color:white;"><%=@user_code_my.code %></span>
			
		</div>
	</div>
	<div style="width:100%">
		<ul style="padding-left:0">
			<li style="list-style:none;border-bottom:1px solid #eee;height:40px;line-height:40px;color:#333;">
				<a href="/user/pointio"><%=@user.user_point %></a>
			</li>
			<li style="list-style:none;border-bottom:1px solid #eee;height:40px;line-height:40px;color:#333;">
				<a href="/user/moneyio"><%=@user.user_money %></a>
			</li>
			<li style="list-style:none;border-bottom:1px solid #eee;height:40px;line-height:40px;color:#333;">
				<a href="/user/inputcode">输入优惠码</a>
			</li>
		</ul>
	</div>
<% end %>