<% content_for :application do %>
<%= stylesheet_link_tag 'swiper.min.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'localResizeIMG.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'mobileBUGFix.mini.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'swiper.min.js', 'data-turbolinks-track' => true %>
    <style>
        body{
            padding: 0;
            margin: 0;
            font-family: "Microsoft YaHei UI";
        }
        .container{
            position: relative;
            background-image: url('/assets/background.png');
            background-repeat:no-repeat;
            background-position:center bottom;
            background-size: 65%;
            padding-bottom: 100px;
        }
        .userinfo{
            height : 110px;
            line-height: 110px;
            border-bottom: 1px solid #77cef3;
            padding-left: 15px;
            position: relative;
        }
        .userinfo:after{
            content: ">";
            color:#a0d9f6;
            right:14px;
            position: absolute;
            font-weight: bold;
            transform:scaleY(1.5);
        }
        .userinfo .avatar{
            height:100%;
            float: left;
        }
        .userinfo .avatar img{
            border-radius: 100%;
            height:60%;
            vertical-align: middle;

        }
        .userinfo .account{
            padding-top:35px;
            padding-left: 10px;
            line-height: 20px;
            overflow: hidden;
            float: left;
        }
        .userinfo .account .username{
            color:#172f5e;
            font-weight: bold;
         }
        .userinfo .account .weixinname{
            font-size: 12px;
            color:#999;
            margin-top:4px;
        }
        .userinfo .countstar{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .userinfo .countstar li{
            list-style: none;
            float: left;
            font-size: 14px;
            color:#ddd;
            margin-top:-4px;
        }
        .userinfo .countstar li.color{
            color:#fff000;
        }
        .userinfo .tip{
            position: absolute;
            right:30px;
            top:3px;
            height:55px;
        }
        .card , .money{
            font-size:14px;
            line-height: 30px;
            padding-left: 15px;
        }
        .card{
            margin-top:12px;
        }
        .money{
            padding-bottom:12px;
            border-bottom: 1px solid #77cef3;
        }
        .card img{
            width:20px;
            margin:0 5px;
        }
        .money img{
            width:20px;
            margin:0 5px;
        }
        .number {
            font-size: 16px;
            font-weight: bold;
            color:#e40082;
        }
        .menu{
            padding: 20px 0 0 5px ;
            margin:0;
            overflow: hidden;

        }
        .menu li{
            padding: 5px ;
            list-style: none;
            float: left;
            width: 45%;
            height:60px;
        }
        .menu li a > div {
            border:1px solid #ceebfa;
            height:100%;
            line-height: 60px;
            padding-left:20px;
            font-size: 14px;
        }
        .menu img {
            width: 20px;
            vertical-align: middle;
            margin-top:-3px;
        }
        .menu img:nth-child(2){
            width: 12px;
        }
    </style>
    <div class="container">
    <div class="section">
        <div class="userinfo">
            <div class="avatar">
                <img onclick="$('#profile_file').click()" data-turbolinks-track="true" src="data:image/jpeg;base64,<%= @user.profile %>" >
            </div>
            <div class="account">
                <div class="username"><%= @user.real_name %></div>
                <div class="weixinname">weixin112</div>
                <div>
                    <ul class="countstar">
                        <li class="color">★</li>
                        <li class="color">★</li>
                        <li class="color">★</li>
                        <li class="color">★</li>
                        <li>★</li>
                        <li>★</li>
                        <li>★</li>
                        <li>★</li>
                        <li>★</li>
                        <li>★</li>
                    </ul>
                </div>
            </div>
            <img class="tip" src="/assets/userinfotip.png"/>
        </div>
        <div class="card">
            <span class="moneylabel">我的卡包:</span><img src="/assets/huiicon.png" /><a href="/user/orderlist"><span class="number"><%=@orderCount %></span></a>张
        </div>
        <div class="money">
            <span class="moneylabel">购车红包:</span><img src="/assets/walleticon.png" /><a href="/user/moneyio"><span  class="number"><%=@user.user_money %></span></a>元
        </div>
        <ul class="menu">
            <li>
	            <a>
	                <div>
	                    <img src="/assets/icon-1.png">
	                    车主认证
	                    <img src="/assets/icon-1-succss.png">
	                </div>
                </a>
            </li>
            <li>
	             <a>
	                <div>
	                    <img src="/assets/icon-2.png">
	                    我要购车
	                </div>
	              </a>
            </li>
            <li>
	            <a href="/user/inputcode">
	                <div>
	                    <img src="/assets/icon-3.png">
	                    使用优惠码
	                </div>
                </a>
            </li>
            <li>
            	<a>
	                <div>
	                    <img src="/assets/icon-4.png">
	                    我的账户
	                </div>
                </a>
            </li>
            <li>
	            <a href="/user/recommend">
	                <div>
	                    <img src="/assets/icon-5.png">
	                    推荐给朋友
	                </div>
                </a>
            </li>
            <li>
	            <a>
	                <div>
	                    <img src="/assets/icon-6.png">
	                    活动规则
	                </div>
                </a>
            </li>

        </ul>
    </div>
</div>
<a id="loading" data-am-modal="{target: '#loading-alert'}" style="display:none;"></a>
<div class="am-modal am-modal-alert" style="color:black;" tabindex="-1" id="loading-alert">
	<div class="am-modal-dialog">
	  	<div class="am-modal-hd">
	    <span class="am-icon-star" data-am-modal="{target: '#my-alert'}">等待...</span>
	    </div>
	    <div class="am-modal-hd">
	    <img src="/assets/loading.gif" />正在上传图片
	    </div>
	 </div>
</div>
<div style="display:none;">
	<form class="am-form" action="/user/update_profile" method="post" ENCTYPE="multipart/form-data">
		<%= file_field "profile","file",  :accept => "image/jpeg", :capture => "camera" %>
	</form>
</div>
<script>
	var swiper = new Swiper('.swiper-container');
</script>
<script type="text/javascript">        
$('input:file').localResizeIMG({
        width: 500,
        quality: 0.8,
        success: function (result) {
            var img = new Image();
            img.src = result.base64;
            $("#loading").click();
            $.ajax({
                url: '/user/update_profile',
                type: 'POST',
                data: {"profile[file]": result.clearBase64},
                dataType: 'HTML',
                timeout: 1000,
                error: function (err) {
                    window.location.href="/user/index"
                },
                success: function (result) {
                	window.location.href="/user/index"
                }
            });
        }
    });    
</script>
<% end %>