<% content_for :application do %>
<style type="text/css">
	li a,li a:hover,li a:active{
		color:#333;
		background-color: transparent;
	}
	.m-widget-list a::after {
  color: #999;
  content: "";
  display: inline-block;
  font-family: FontAwesome,sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: -8px;
  position: absolute;
  right: 10px;
  text-rendering: auto;
  top: 50%;
  transform: translate(0px, 0px);
}
</style>
	<div style="text-align:center;height:250px;line-height:250px;width:100%;background-color:#3bb4f2;">
		<div style="display:inline-block;vertical-align:bottom;margin-bottom:10%;line-height:20px;">
			<%= image_tag @user.profile, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%"%>
			<span style="display:block;padding-top:10px;color:white;"><%= @user.real_name %></span>
			<span style="display:block;padding-top:10px;color:white;">我的代码:<%=@user_code_my.code %></span>
			
		</div>
	</div>
	<div style="width:100%">
		<ul class="am-list am-list-static m-widget-list">
			<li style="background-color:rgba(59,180,242,0.67);border:0">
				<a href="/user/pointio " style="color:#333; ">
					<i class="am-icon-trophy am-icon-fw"></i>
					<span style="margin-right:5px;">我的积分:</span><%=@user.user_point %>
				</a>
			</li>
			<li style="background-color:rgba(59,180,242,0.33);border:0">
				<a href="/user/moneyio" style="color:#333">
					<i class="am-icon-money am-icon-fw"></i>
					<span style="margin-right:5px;">我的余额:</span><%=@user.user_money %>
				</a>
			</li>

		</ul>
	</div>
	<div style="width:100%;text-align:center;">
		<a href="/user/inputcode" style="display:inline-block;margin:0 auto;" class="am-btn am-btn-secondary btnlogin">输入优惠码</a>
	</div>
<% end %>