<% content_for :application do %>
<style type="text/css">
	#sex1,#sex0{
		position: absolute;
		left: -999em;
	}
	#sex1:checked + label,#sex0:checked + label{
		background-color: #3bb4f2;
		color: white;
	}
	.divsex label{
		width:49%;
	}
	
</style>

<div class="container" style="width:80%;margin:10% auto;">
	<%= form_for @user, url: {action: "update_user"} do |u| %>
		<div class="am-input-group divrealname" style="margin-top:2px;margin-bottom:2px;">
		  <span class="am-input-group-label"><i class="am-icon-heart am-icon-fw"></i></span>
		  <%= u.text_field :real_name ,:class=>"am-form-field" ,:placeholder=>"请输入姓名"%>
		</div>
		<div class="am-input-group divsex" style="margin-top:2px;margin-bottom:2px;width:100%;text-align:center">
			<%= u.radio_button :sex,  '1' ,:id=>"sex1", :checked=>"checked"%>
			<label class="am-btn am-btn-default" for="sex1">男</label>
			<%= u.radio_button :sex,  '0' ,:id=>"sex0" %>
			<label class="am-btn am-btn-default" for="sex0">女</label>
		</div>
		<div class="am-input-group divrealname" style="margin-top:2px;margin-bottom:2px;">
		  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
		  <%= u.text_field :id_no ,:class=>"am-form-field" ,:placeholder=>"请输入身份证"%>
		</div>
		<div class="am-input-group divusername">
		  <span class="am-input-group-label"><i class="am-icon-mobile-phone am-icon-fw"></i></span>
		  <%= u.text_field :login_name ,:placeholder=>"请输入手机号",:class=>"am-form-field"%>
		</div>

		
		<button type="submit" class="am-btn am-btn-secondary btnlogin" style="display: block;margin: 20px auto;width: 100%;">保存</button>
	<% end %>
	<script type="text/javascript">
		$("form").submit(function(){
			/*
			if(!$(".divusername input[type=text]").val()){
				alert("请输入手机号");
				return false;
			}
			if($(".divusername input[type=text]").val().length != 11){
				alert("手机号格式不正确");
				return false;
			}
			if(!$("#login_password").val()){
				alert("请输入密码");
				return false;
			}
			if($("#login_password").val().length < 6){
				alert("密码最少6位");
				return false;
			}
			if($("#login_password").val() != $("#login_password_repeat").val()){
				alert("两次输入密码不相同");
				return false;
			}
			if(!$(".divrealname input[type=text]").val()){
				alert("请输入姓名");
				return false;
			}		
			*/	
		});
	</script>
</div>
<% end %>