<% content_for :application do %>
<style type="text/css">
	.content{
		border-left: 1px solid #ccc;
	}
</style>
<div class="am-cf">
	<%=render "shared/panda_menu" %>
  	<div class="am-u-sm-10 content">
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">审核购车基金</div>
		    <div class="am-panel-bd">
				<% if !@buycarrequests.nil? %>
				<table style="font-size:13px;" class="am-table am-table-striped am-table-hover">
					<thead>
				        <tr>
			            <th>申请信息</th>
			            <th>经销商</th>
			            <th>申请时间</th>
			            <th width="25%">备注</th>
			            <th>发票</th>
			            <th>状态</th>
			            <th>操作</th>
				        </tr>
					    </thead>
					    <tbody>
					<% @buycarrequests.each do |req| %>
						<tr>
							<td>
							姓名：<%=req.user_name %><br/>
							联系电话:<%=req.phonenumber %><br/>
							<font style="color:green">[身份证 : <%=req.user_id_number %>]</font><br/>
							</td>
							<td>
							<%  @agency = Agency.find_by(id: req.agency_id) %>
							<% if !@agency.nil?%>
								<p>
								经销商：<%= @agency.name %><br/>
								地址：<%= @agency.address %><br/>
								联系人：<%= @agency.contact %><br/>
								联系电话：<%= @agency.phone %><br/>
								</p>
							<% end %>
							</td>
							<td><%=req.create_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
							<td>
								<ul style="padding-left:0;">
									<% @moneyio = UserMoneyIO.find_by(id: req.money_io_id)
									if !@moneyio.nil? %>
									<li style="list-style:none;"><%= @moneyio.money %>(<%= @moneyio.remarks %>)</li>
									<% end %>
								</ul>
							</td>
							<td>
								<a target="blank" href="/invoice/upload/<%= req.invoice_url %>">点击查看</a>
							</td>
							<td>
								<% if req.status == 0 %>
							  		<font style="color:red">待审核</font>
							  	<% elsif req.status == 1 %>
							  		<font style="color:green">审核通过</font>
							  	<% elsif req.status == 2 %>
							  		<font style="color:red">审核未通过</font>
							  	<% elsif req.status == 12 %>
							  		<font style="color:red">待审核 推荐积分奖励1.2倍</font>
							  	<% elsif req.status == 15 %>
							  		<font style="color:red">待审核 推荐积分奖励1.5倍</font>
							  	<% else %>
							  		<font style="color:red">异常</font>
								<% end %>
							</td>
							<td>
							<% if req.status == 0 or req.status == 12 or req.status == 15 %>
								<a href="/panda/passbuycarrequest?reqid=<%= req.id%>&status=1">通过</a>
								<a href="/panda/passbuycarrequest?reqid=<%= req.id%>&status=2">拒绝</a>
							<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
					</table>
				<% end %>  
			</div>
	    </div>		
  	</div>
</div>
<% end %>