<% content_for :application do %>
<style type="text/css">
	.content{
		border-left: 1px solid #ccc;
	}
</style>
	<% if @order.nil?  or @order.status < 1 %>
		<script type="text/javascript">
			window.onload=function(){
				alert('无效订单');
				location.href = '/panda/orderlist'
			}
		</script>
	<% else %>
		<%=render "shared/panda_menu" %>
		<div class="am-u-sm-10 content">
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">订单信息</div>
			    <div class="am-panel-bd">
					<span>订单总积分:<%=@order.order_point %></span><br/>
					<span>订单创建时间:<%=@order.create_time.strftime("%Y-%m-%d %H:%M:%S") %></span><br/>
					<span>订单状态:			
						<% if @order.status == 1 %>
						  	<font style="color:green">未发货</font>
						  	<% elsif @order.status == 2 %>
						  	<font style="color:green">已发货</font>
						  	<% elsif @order.status == 3 %>
						  	<font style="color:green">完成</font>
						<% end %>
					 </span><br/>
			    </div>
			</div>
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">商品信息</div>
			    <div class="am-panel-bd">
			    	<% if !@itemlist.nil? %>
						<table class="am-table">
							<thead>
								<td></td>
								<td>商品名称</td>
								<td>单价</td>
								<td>数量</td>
								<td>合计</td>
							</thead>
							<tbody>
							<% @itemlist.each do |item| %>
								<% @product = Product.find_by(id: item.product_id) %>
									<tr>
										<td>
										<% if !@product.nil? %>
											<%= image_tag @product.product_img_url, 'data-turbolinks-track' => true , :style => "width:80px;height:80px;border-radius:100%"%>
										<% end %>
										</td>
										<td>
										<% if !@product.nil? %>
											<%=@product.name %>
										<% end %>
										</td>
										<td>
											<%=item.pre_point %> 积分
										</td>
										<td>
											<%=item.count %>
										</td>
										<td>
											<%=item.total_point %>
										</td>
									</tr>
							<% end %>
							</tbody>
						</table>
					<% end %>
			    </div>
			</div>
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">订单地址信息</div>
			    <div class="am-panel-bd">
					<span>联系人:<%=@shipping.real_name %></span><br/>
					<span>联系电话:<%=@shipping.mobile %></span><br/>

					<span>国家:<%=@shipping.country %></span><br/>
					<span>省:<%=@shipping.province %></span><br/>
					<span>市:<%=@shipping.city %></span><br/>
					<span>区:<%=@shipping.area %></span><br/>
					<span>街道：<%=@shipping.address %></span><br/>
					<span>邮编：<%=@shipping.post_code %></span><br/>
				</div>
			</div>
			<a type="button" href="/panda/orderlist" style="float:right;" class="am-btn am-btn-secondary" id="return">返回</a>&nbsp;&nbsp;
			<% if @order.status == 1%>
			<a type="button" href="/panda/change_order_status?id=<%=@order.id %>&status=2" style="float:right;" class="am-btn am-btn-secondary" id="return">发货</a>
			<% elsif @order.status == 2 %>
			<a type="button" href="/panda/change_order_status?id=<%=@order.id %>&status=3" style="float:right;" class="am-btn am-btn-secondary" id="return">完成订单</a>
			<% end %>
		</div>
	<% end %>
<% end %>