<% content_for :application do %>
<style type="text/css">
	body{
		background-color: #eee;
	}
	#btnbuy{
		width: 100%;
		position: fixed;
		font-size: 20px;
		bottom:0;
	}

</style>
	<% if @error_msg %>
		<script type="text/javascript">
			window.onload=function(){
				alert('<%= @error_msg%>');
				location.href = '/user/index'
			}
		</script>
	<% else %>
		<form action="/mall/createshipping" method="post" class="am-form" style="background-color: white;">
			<fieldset>
    			<legend>地址信息</legend>
				<div class="am-form-group">
					<label for="real_name">联系人</label>
				  	<input id="real_name" name="real_name" type="text" value="<%= @user.real_name%>">
				</div>
				<div class="am-form-group">
					<label for="real_name">联系电话</label>
					<input id="mobile" name="mobile" type="text" value="<%= @shipping.mobile%>">
				</div>
				<div class="am-form-group">
					 <label for="area_id">地区</label>
				  <select name="country" id="country"><option value="中国">中国</option></select>
				  <select name="province" id="province_id"></select>
				  <select name="city" id="city_id"></select>
				  <select name="area" id="area_id"></select>
				</div>
				<div class="am-form-group">
					<label for="address">街道</label>
				  	<input id="address" name="address" type="text" value="<%= @shipping.address%>">
				</div>
				<div class="am-form-group">
					<label for="real_name">邮编</label>
				  	<input id="post_code" name="post_code" type="text" value="<%= @shipping.post_code%>">
				</div>
			</fieldset>
				<input type="submit" class="am-btn am-btn-secondary" id="btnbuy" value="确认">
				<input name="orderid" type="hidden" value="<%= @order.id %>">
 			
			<script type="text/javascript">
			$(document).ready(function(){
				$.address("province_id","city_id","area_id","<%= @shipping.province%>","<%= @shipping.city%>","<%= @shipping.area%>");
			});
			</script>
		</form>
	<% end %>
<% end %>