<!DOCTYPE html>
<html>
<head>
  <title>东风标致-礼享家</title>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'amazeui.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'amazeui.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'touch.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'address.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'car.js', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  
</head>
<body>

<%= yield :application %>


</body>
</html>
